{% extends "base.html" %}

{% block content %}
<form action="#" id="login-form">
  <div class="heading">
  Stocky
  <br>
  See whats in stock at our store!
  </div>
</form>
{% for item in items %}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width: 350px; height: 200px">
    <div class="hovereffect">
        <img class="img-responsive" src="https://rudeboyy.files.wordpress.com/2014/05/beats-x-snarkitecture-01.jpg?w=350&h=200&crop=1" alt="">
        <div class="overlay">
           <h2>{{ item.title|capfirst }}</h2>
           <a class="info" href="#">${{ item.amount }}</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}